.masthead {
  text-align: center;
}

.about > h2 {
  text-align: center;
}

.about-cards {
  display: flex;
  justify-content: center;
}

.about-card {
  margin: 1em 2em;
  padding: 0.5em 2em;
  background-color: #f9f9f9;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(165, 165, 165, 0.4);
}
